*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header{
  background-color: #F1C1F7 ;
  display: flex;
  align-items: center;
  justify-content: center;

}

header ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 12vh;
}

header a {
  color: white;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 20px;
}

header a:hover{
  color: rgb(26, 13, 4);
  text-shadow: rgb(231, 54, 213) 0.1em 0.1em 0.2em;
}

.container-sobre{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container1{
  width: 40vw;
  height: 40vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1 button{
  transition-duration: 0.4s;
  border: #F1C1F7 solid;
  padding: 10px 20px;
}

.container1 button:hover{
  background-color:palevioletred;
  color: white;
}
.container2{
  width: 30vw;
}

.container2 img{
  width: 100%;
  border-radius: 100%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box-sobre{
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

#box-sobre h2{
  margin-bottom: 20px;
}

#box-sobre p{
  font-size: 22px;
  line-height: 30px;
}

#box-habilidades{
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin-top: 30px;
  height: 50vh;
}

.habilidades-caixa img{
  width: 15vw;
}

.habilidades-caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.box-projetos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  height: 50vh;
}

.box{
 height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box h3{
  background-color: #F1C1F7;
  color: aliceblue;
}

.contato{
  display: flex;
  align-items: center;
  height: 30vh;
  gap: 40px;
}
.rd-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
}
.rd-social img{
  width: 8vw;
}

footer{
  text-align: center;
  margin-top: 30px;
}

@media (max-width:800px){
  header ul{
    width: 90vw;
  }

  .container-sobre{
    height: 50vh;
    width: 80vw;
    text-align: center;
    flex-direction: column;
  }

  #box-sobre p{
    text-align: justify;
    line-height: 22px;
  }


#box-habilidades{
  flex-wrap: wrap;
  height: 40vh;
}

.habilidades-caixa img{
  width: 30vw;
}

.box-projetos{
  flex-direction: column;
  width: 70vw;
}

.box-projetos div{
  width: 80vw;
}

.box-projetos img{
  width: 100%;
}

#project{
  margin-bottom: 20px;
}
}